USE [EmployeesStructure]
GO
/****** Object:  StoredProcedure [dbo].[GetStructureOnDate]    Script Date: 19.10.2025 15:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--exec dbo.GetStructureOnDate @Dt='2025-06-01',@CFO=NULL,@WithAdditionalInfo=0
ALTER PROCEDURE [dbo].[GetStructureOnDate]
	-- Add the parameters for the stored procedure here
 @Dt date=NULL
,@CFO varchar(10)=NULL
--,@CFO varchar(10)=NULL
,@WithAdditionalInfo bit=0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
IF	@Dt IS NULL SET @Dt=CAST(GETDATE() as date)


DROP TABLE IF EXISTS #SRC
SELECT EmployeeName
,EmployeeID
,Cfo
,IsActive
,RoleID
,RoleName
INTO #SRC
FROM (
SELECt e.Name as EmployeeName
,css.EmployeeID
,Cfo
,IsActive
,DateFrom
,r.RoleName
,r.RoleID
,ROW_NUMBER() OVER(PARTITION BY css.EmployeeID ORDER BY DateFrom desc) as rn
FROM [EmployeesStructure].[dbo].[EmployeesCfoStructure] CSS
LEFT OUTER JOIN [EmployeesStructure].[dbo].[Employees] e On e.EmployeeID=css.EmployeeID
LEFT OUTER JOIN [EmployeesStructure].[dbo].[EmployeeRole] er ON css.EmployeeID=er.EmployeeID
LEFT OUTER JOIN [EmployeesStructure].[dbo].[Roles] r ON r.RoleID=er.RoleID
WHERE DateFrom<=@Dt 
) r
WHERE rn=1
--AND EmployeeID=19

DROP TABLE IF EXISTS #Result
CREATE TABLE #Result 
(Cfo varchar(10)
,ParentCfo varchar(10)
,EmployeeName varchar(100)
,EmployeeID int
,RoleName varchar(100)
,CfoHead varchar(100)
,ParentCfoHead varchar(100)
)


INSERT INTO #Result(Cfo,ParentCfo,EmployeeName,EmployeeID,RoleName,CfoHead,ParentCfoHead)
SELECt src.Cfo
,c.ParentCfo
,src.EmployeeName
,src.EmployeeID
,src.RoleName
,so.EmployeeName as DeskHead
,iif(c.ParentCfo='','',s.EmployeeName) as DepartmentHead
FROM #SRC src
LEFT OUTER JOIN [EmployeesStructure].[dbo].[Cfos] c ON c.Cfo=src.Cfo
LEFT OUTER JOIN #SRC so ON so.Cfo=src.Cfo AND so.RoleID=5
LEFT OUTER JOIN #SRC s ON s.Cfo=iif(c.ParentCfo='',src.Cfo,c.ParentCfo) AND s.RoleID=5 
WHERE  src.IsActive=1
AND   
    (
        (@CFO IS NULL)
        OR 
        (src.CFo = @CFO)
    )

 if @WithAdditionalInfo=1
 BEGIN 
 SELECT Cfo
 ,ParentCfo
 ,EmployeeName
 ,r.EmployeeID
 ,RoleName
 ,CfoHead
 ,ParentCfoHead
 ,e.Birthday
 ,e.InternalPhone
 ,e.MobilePhone
 FROM #Result r
 LEFT OUTER JOIN [EmployeesStructure].[dbo].[Employees] e ON e.EmployeeID=r.EmployeeID
 ORDER BY Cfo
END
ELSE 
BEGIN
 SELECT Cfo
 ,ParentCfo
 ,EmployeeName
 ,r.EmployeeID
 ,RoleName
 ,CfoHead
 ,ParentCfoHead
 FROM #Result r
  ORDER BY Cfo
END
END
