USE [EmployeesStructure]
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployeeInfo]    Script Date: 19.10.2025 15:35:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

ALTER PROCEDURE [dbo].[InsertEmployeeInfo]
	-- Add the parameters for the stored procedure here
 @Name varchar(100)--Имя пользователя
,@InternalPhone varchar(10) --Внутренний телефон
,@MobilePhone varchar(20) -- мобильный телефон
,@Birthday date --ДР
,@CFO varchar(10) --CFO
,@IsActive bit =1 --принят/уволен
,@RoleID int --роль
AS
BEGIN

DECLARE @EmployeeID int

BEGIN TRY
   INSERT INTO [EmployeesStructure].[dbo].[Employees]
           ([Name]
           ,[InternalPhone]
           ,[MobilePhone]
           ,[Birthday])
   VALUES
           (@Name
           ,@InternalPhone
           ,@MobilePhone
           ,@Birthday)

SELECT
 @EmployeeID=MAX(EmployeeID) 
 FROM [EmployeesStructure].[dbo].[Employees]

INSERT INTO [EmployeesStructure].[dbo].[EmployeesCfoStructure]
           ([EmployeeID]
           ,[Cfo]
           ,[IsActive]
           ,[DateFrom])
     VALUES
           (@EmployeeID
           ,@CFO
           ,@IsActive
           ,CAST(GETDATE() as date))


INSERT INTO [EmployeesStructure].[dbo].[EmployeeRole]
           ([EmployeeID]
           ,[RoleID])
VALUES (@EmployeeID,@RoleID)

SELECT * FROM [EmployeesStructure].[dbo].[Employees] WHERE EmployeeID=@EmployeeID

END TRY
BEGIN CATCH 

  IF EXISTS (SELECT * FROM  [EmployeesStructure].[dbo].[Employees] WHERE MobilePhone=@MobilePhone)
    BEGIN
        PRINT 'Запись с такими телефоном уже существует!'
    END
	ELSE
	BEGIN
        PRINT 'Сотрудник ' + @Name +' с датой рождения '+ CAST(@Birthday as varchar(10))+' уже создан в системе!'
	END
END CATCH
END
