USE [EmployeesStructure]
GO
/****** Object:  StoredProcedure [dbo].[LinkReporttoEmployee]    Script Date: 19.10.2025 15:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[LinkReporttoEmployee]
	-- Add the parameters for the stored procedure here
@EmployeeId int
,@Reportid int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
INSERT INTO [EmployeesStructure].[dbo].[EmployeeReport]
           ([EmployeeID]
           ,[ReportId])
     VALUES
           (@EmployeeId
           ,@Reportid)
END
